.text {
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}

.define {
  margin-bottom: 10px;
  padding: 30px 20px;
  text-align: center;
  background-color: #A9C9FF;
  background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
  border-radius: 10px;
  font-size: 36px;
}

.defineText {
  display: inline-block;
  white-space: nowrap;
  transition: transform 0.3s ease;
  font-size: 24px;
}

.animation .defineText {
  transform: scaleX(0);
}