.animals {
  padding-left: 0;
  padding-right: 0;
}

.title {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}

.image {
  width: 95%;
  margin: 0 auto;
  border-radius: 20px;
}

.controls {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.controlButton {
  padding: 5px 10px;
  color: var(--white);
  background-color: var(--main-1);
  border-radius: 10px;
}