.title {
  font-size: var(--h2-fs);
  line-height: var(--h2-lh);
}

.count {
  font-size: 60px;
  line-height: 70px;
}

@media screen and (min-width: 650px) {
  .title .count {
    font-size: 68px;
    line-height: 80px;
  }
}