:root {
  --main-1: #617A55;
  --main-2: #A4D0A4;
  --main-3: #F7E1AE;
  --main-4: #FFF8D6;
  --white: #fff;

  --text-fs: 20px;
  --text-lh: 22px;
  --h2-fs: 28px;
  --h2-lh: 36px;
}

.main {
  padding: 20px 16px;
  min-height: 100vh;
  background-color: var(--main-1);
  overflow: hidden;
}

@media screen and (min-width: 992px) {
  :root {
    --text-fs: 26px;
    --text-lh: 30px;
    --h2-fs: 36px;
    --h2-lh: 42px;
  }

  .main {
    padding: 40px 28px;
  }
}